<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="s1" class="com.bean.StudentList">
 <property name="list">
 
  <list>
       
				<ref bean="Student" />
				<bean class="com.bean.Student">
					<property name="fname" value="swathi" />
					<property name="lname" value="c" />
					<property name="email" value="swathisadanam@gmail.com" />
					<property name="mobile" value="8281452150" />
				</bean>
  </list>
  </property>

</bean>
  
  
  



</beans>
